/* style.css */
body {
  margin: 0px;
  background: #f1cab9;
  color: #83B0DC;
  font-family: FiraSans, sans-serif;
	font-size: 18px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: FiraSans;
  font-weight: bold;
}
h1 {
	font-size: 40px;
  color: #25565D;
}
h2 {
  font-size: 24px;
  color: #83B0DC;
}
a {
  color: #25565D;
  text-decoration: none;
}
a:hover {
  color: black;
}
.banner{
  padding: 250px 150px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 10%), 
  url("images/banniere_ta.png");
  background-size: cover;
  background-position: center;
  position: relative; /*position du parent*/ 
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
}
.banner h1 {
  font-size: 50px;
}
.button-ta {
  color: white;
  background: #6772e5;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  border-radius: 10px;
  position: absolute;/*position de l'enfant qui est absolue par rapport au parent*/
  bottom: 50px; /* position par rapport au bas du parent*/
  left: 50%; /* position par rapport à la gauche du parent*/
  transform: translateX(-50%); /* translate le début de l'ancre sur l'axe horizontal*/
}
.button-ta:hover {
  background: #7795f8;
  color: white;
}
.card-white {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 16px 0px;
}
.card-white img {
  margin-bottom: 20px;
}
.footer {
  background-color: black;
  padding: 24px;
  color: white;
}
.footer a {
  color: white;
  font-size: 32px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 0px 8px;
}